.navbar{
  background-color: #5F8D4E;
  display: flex;
  margin-top: 3%;
  cursor: pointer;
  /* width: 100% !important; */
}
.navItems{
  margin-left: 30%;
}
.listItem{
  display: flex;
}
.listItem li{
  list-style: none;
  margin-right: 25px;
  font-size: 20px;
  color: #E5D9B6;
  /* font-weight: 600; */
}
