<div class="container">
<div class="navbar">
  <div class="logo">
    <span style="font-size: 25px;">Jata</span><span style="font-size: 25px; color: #E5D9B6;">Shankar</span>
  </div>
  <div class="navItems">
    <div class="container">
      <ul class="listItem">
        <li (click)="goToHomePage()">Home</li>
        <li (click)="goToOurWorkPage()">Our Work</li>
        <li (click)="goToAboutUsPage()">About Us</li>
        <li (click)="goToContactUsPage()">Contact Us</li>
      </ul>
    </div>
  </div>
</div>
</div>
